body {
    background-color: #1D0303;
}

li {
    color: aliceblue;
    font-size: 200%;
}

img {
    width: 450px;
    height: 500%;

}

p {
    color: aliceblue;
    font-size: 200%;
}


body {
    display: flex;
}