body {
 background-color: rgb(49, 0, 0);
}
img {
    height: 700px;
    width: 500px;
    border-radius: 40px;
}
h1 {
    text-align: center;
    color: rgb(138, 22, 22);
    font: size 40px;
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
 }
 h2 {
    text-align: center;
    color: rgb(138,22, 22);
    font: size 40px;
    font-family: Copperplate,Papyrus,fantasy;
    text-shadow: 2px 2px 5px rgb(0, 0, 0) 

 }
 dd {
    color: rgb(159, 154, 154);
    font-size: 20px;
    text-align: center;
}
 img, p {
    display: inline-block;
}
img, p {
    float: left;
}


